.menu-card-small {
  width: 100%;
  height: 150px; /* Tinggi card disesuaikan dengan contoh yang diberikan */
  position: relative;
  border-radius: 10px;
  display: flex;
  background-size: cover;
  /* overflow: hidden; Memastikan konten di dalam card tidak keluar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.menu-card-small:hover {
  transform: scale(1.05);
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  transition: opacity 0.3s ease;
}

.menu-card-small:hover {
  transform: scale(1.05);
}

.menu-info {
  margin-top: 10px;
  text-align: left;
}

.menu-info h3 {
  margin: 0;
  font-size: 18px;
}

.menu-info p {
  margin: 5px 0 0;
  font-size: 13px;
  color: #555;
}

@media (max-width: 768px) {
  .menu-section {
    top: 10%;
  }
  .menu-card-small {
    height: 150px;
  }

  .menu-card-small-wrapper {
    padding: 5px;
  }

  .menu-info h3 {
    font-size: 1rem;
  }

  .menu-info p,
  .menu-info .price {
    font-size: 0.9rem;
  }
}
